// A couple of minima-specific things
$spacing-unit:     30px !default;
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
@import "minima/_syntax-highlighting.scss";

// Custom syntax highlighting rules
.highlighter-rouge .highlight {
    background-color: transparent;
    border:0px;
}

.highlighter-rouge pre, .highlighter-rouge code {
    background-color: transparent;
}

.language-abap .highlight,
.language-apache .highlight,
.language-apiblueprint .highlight,
.language-apple_script .highlight,
.language-biml .highlight,
.language-bsl .highlight,
.language-c .highlight,
.language-ceylon .highlight,
.language-cfscript .highlight,
.language-clojure .highlight,
.language-cmake .highlight,
.language-coffeescript .highlight,
.language-common_lisp .highlight,
.language-conf .highlight,
.language-coq .highlight,
.language-cpp .highlight,
.language-csharp .highlight,
.language-css .highlight,
.language-d .highlight,
.language-dart .highlight,
.language-diff .highlight,
.language-docker .highlight,
.language-eiffel .highlight,
.language-elixir .highlight,
.language-erb .highlight,
.language-erlang .highlight,
.language-factor .highlight,
.language-fortran .highlight,
.language-fsharp .highlight,
.language-gherkin .highlight,
.language-go .highlight,
.language-gradle .highlight,
.language-groovy .highlight,
.language-haml .highlight,
.language-handlebars .highlight,
.language-haskell .highlight,
.language-html .highlight,
.language-idlang .highlight,
.language-ini .highlight,
.language-io .highlight,
.language-java .highlight,
.language-javascript .highlight,
.language-jinja .highlight,
.language-jsonnet .highlight,
.language-jsx .highlight,
.language-julia .highlight,
.language-kotlin .highlight,
.language-lasso .highlight,
.language-liquid .highlight,
.language-literate_coffeescript .highlight,
.language-literate_haskell .highlight,
.language-llvm .highlight,
.language-lua .highlight,
.language-make .highlight,
.language-markdown .highlight,
.language-matlab .highlight,
.language-moonscript .highlight,
.language-nginx .highlight,
.language-nim .highlight,
.language-objective_c .highlight,
.language-ocaml .highlight,
.language-pascal .highlight,
.language-perl .highlight,
.language-plain_text .highlight,
.language-powershell .highlight,
.language-praat .highlight,
.language-prolog .highlight,
.language-prometheus .highlight,
.language-properties .highlight,
.language-protobuf .highlight,
.language-puppet .highlight,
.language-python .highlight,
.language-qml .highlight,
.language-r .highlight,
.language-racket .highlight,
.language-ruby .highlight,
.language-rust .highlight,
.language-scala .highlight,
.language-scheme .highlight,
.language-sed .highlight,
.language-shell .highlight,
.language-slim .highlight,
.language-smalltalk .highlight,
.language-smarty .highlight,
.language-sml .highlight,
.language-sql .highlight,
.language-swift .highlight,
.language-tap .highlight,
.language-tcl .highlight,
.language-tex .highlight,
.language-toml .highlight,
.language-tulip .highlight,
.language-turtle .highlight,
.language-twig .highlight,
.language-typescript .highlight,
.language-vala .highlight,
.language-verilog .highlight,
.language-viml .highlight,
.language-vue .highlight,
.language-xml .highlight,
.language-yaml .highlight {
    background-color: #eef;
    border: 1px solid #e8e8e8;
}