---
layout: default
---

<div class="home">

  <section id="about" class="lead-section">
    <div class="at-a-glance">
      <div>
          <table cellpadding='0' cellspacing='0'>
            <tr>
              <td class="left">
                <span>Name:</span>
              </td>
              <td class="right">
                <span>Chad Fulton</span>- &nbsp;
                <a href="mailto:chad@chadfulton.com">chad@chadfulton.com</a>
              </td>
            </tr>
            <tr>
              <td class="left">
                <span>Position:</span>
              </td>
              <td class="right">
                <span>Senior economist, Federal Reserve Board of Governors</span>
              </td>
            </tr>
            <tr>
              <td class="left">
                <span>Education:</span>
              </td>
              <td class="right">
                <span>BA, MS, PhD</span>
              </td>
            </tr>
            <tr class="continuation">
              <td class="left">
                <span></span>
              </td>
              <td class="right">
                <span>Economics, University of Oregon</span>
              </td>
            </tr>
            <tr>
              <td class="left">
                <span>Areas of interest:</span>
              </td>
              <td class="right">
                <span>Macroeconomics, Econometrics</span>
              </td>
            </tr>
            <tr>
              <td class="left">
                <span>Research:</span>
              </td>
              <td class="right">
                <span>Rational inattention, Prices, Multi-sector</span>
              </td>
            </tr>
            <tr>
              <td class="left">
                <span>Code written in:</span>
              </td>
              <td class="right">
                <span>Python, MATLAB, R, Stata</span>
              </td>
            </tr>
          </table>

          <div class="info">
            <a href="/files/fulton_cv.pdf">
              <i class="fa fa-file-pdf-o"></i>
              <span>Curriculum vitae</span>
            </a>

            <br class="clear" />
            <!-- <br class="clear" /> -->

            <!-- <div class="footnotes">
              <span>[1] Expected, 2016</span>
            </div> -->
          </div>
        </div>

      <img class="photo left" alt="Chad Fulton" src='{{ "/assets/images/CF_headshot_250_318.jpg" | relative_url}}' />

      <br class="clear" />
      <br class="clear" />
  </section>

  <section>
    {{ content }}
  </section>
</div>
